* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #16a085;
    font-family: 'Montserrat', sans-serif;
    /*color: #fff;*/
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}
.m-top {
    /*margin-top: 200px;*/
    padding: 25px;
    border: 2px solid #fefffc;
    border-radius: 15px;
}
.m-topMain{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height:800px;
    /*overflow: vis ible;*/
    /*border: 1px solid #b5f860;*/
}


/*#particles {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*overflow: hidden;*/
/*}*/

/*#intro {*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 50%;*/
    /*padding: 0 20px;*/
    /*width: 100%;*/
    /*text-align: center;*/
/*}*/

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }
    h1::after {
        height: 8px;
    }
}

@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }
    h1 {
        font-size: 30px;
    }
    h1::after {
        height: 6px;
    }
    p {
        font-size: 18px;
    }
    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }
    h1::after {
        height: 4px;
    }
}
